<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhvc">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />



    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dhvc">
        <activity
            android:name=".ui_activity.ui.Login_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui_activity.ui.QRcodeMainActivity"
            android:exported="false"
            android:label="@string/title_activity_qrcode_main"
            android:theme="@style/Theme.Dhvc.NoActionBar" />
        <activity
            android:name=".ui_activity.ui.Scan_MainActivity"
            tools:ignore="Instantiatable" />
        //开发者申请的key
        <meta-data android:name="com.amap.api.v2.apikey" android:value="e4f8d3c38c544067fe2c026a3ab9cf77">
        </meta-data>


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".ui_activity.ui.DetailsMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Dhvc.Custom" />
        <activity
            android:name=".ui_activity.ui.Circle_MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Dhvc.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_login_main"
            android:theme="@style/Theme.Dhvc.NoActionBar" />
        <activity

            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"

            android:name=".ui_activity.ui.BeganMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dhvc.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>